<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Shelfie</a>
    </div>
    <ul class="nav navbar-nav">
      <!-- <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li> -->
    </ul>
  </div>
</nav>
<div class="text-center margin-top-40 margin-bottom-40 heading">
  <h2>Shelfie image process validation</h2>
</div>
<div class="col-md-12 text-center">
  <input type="text" maxlength="50" [(ngModel)]="token" placeholder="token" class="bottom" name="token" id="token">
  <input type="text" maxlength="50" class="bottom" [(ngModel)]="shelfGuid" placeholder="shelf guid" name="sheflguid" id="sheflguid">
</div>
<div class="col-md-12 margin-top-40  ">
  <div class="col-md-5 text-center">
    <h4>Master image</h4>
    <!-- <input type="text" maxlength="50" class="bottom" [(ngModel)]="masterGuid" placeholder="master guid" name="masterguid" id="masterguid"> -->
    <!-- <img [src]="mastersrc" [hidden]="!mastersrc"><br> -->
    <input class="setHeight" type="file" imageUpload (imageSelected)="selectedMaster($event)">
    <div class="col-md-12 text-center">
      <button class="btn btn-primary" [disabled]="!mastersrc || !shelfGuid" (click)="masterSubmit()">Upload Master</button>
    </div>
  </div>
  <div class="col-md-2 text-center">
    Result
  </div>
  <div class="col-md-5  text-center">
    <h4>Shelf image</h4>
    <!-- <input type="text" maxlength="50" class="bottom" [(ngModel)]="shelfGuid" placeholder="shelf guid" name="sheflguid" id="sheflguid"> -->
    <!-- <img [src]="shelfiesrc" [hidden]="!shelfiesrc"><br> -->
    <input type="file" class="setHeight" imageUpload (imageSelected)="selectedShelf($event)">

    <div class="col-md-12 text-center">
      <button class="btn btn-primary" [disabled]="!shelfiesrc || !shelfGuid" (click)="shelfSubmit()">Upload Shelf</button>
    </div>
  </div>

</div>